@charset "utf-8";
/* notosans*/
@font-face{
	font-family:"NotoR";
	url('/static_assets/font/NotoSansKR-Regular.woff') format('woff'),
	src:local(※), url('/static_assets/font/NotoSansKR-Regular.woff') format('woff');
}
@font-face{
	font-family:"NotoB";
	url('/static_assets/font/NotoSansKR-Bold.woff') format('woff')
	src:local(※), url('/static_assets/font/NotoSansKR-Bold.woff') format('woff');
}



/* default */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
html {font-family:sans-serif; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
body {line-height:1;}
ol,
ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before,
blockquote:after,
q:before,
q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {-webkit-appearance:button; cursor:pointer;}
button::-moz-focus-inner,
input::-moz-focus-inner {border:0; padding:0;}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {height:auto;}
button,
input[type='submit'],
input[type='reset'] { margin:0; padding:0;border:0 none; background-color:transparent; vertical-align:middle;}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='digits']{ box-sizing:border-box; -webkit-box-sizing:border-box; -webkit-appearance: none; border-radius:0; margin:0; padding:11px 5px; background-color:transparent; border:1px solid #dddddd; color:#000000; font-size:16px;  }
a:focus {outline:thin dotted; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px;}
/*
 common
 */
html {font-size:100%;}
body {line-height:1.5; color:#000000; background-color:#ffffff;}
a {color:#000000; text-decoration:none;}
a:hover {text-decoration:none;}
caption { font:0/0 a;}
em {font-style:normal;}
img {vertical-align:top;}
hr {margin:0; padding:0;border:0 none; }
i{ font-style:normal;}
body,
select,
table,
button,
textarea,
input{font-family:'NotoR','Malgun Gothic', '맑은 고딕', Arial, Helvetica, sans-serif;}
strong{ font-family:'NotoB'; }
em{ font-family:'NotoB'; }
/* form */
input, textarea, select {box-sizing:border-box; -moz-box-sizing:border-box; margin:0; }
legend{ font:0/0 a;}
textarea{ border:1px solid #dddddd; resize:vertical;-webkit-appearance: none; border-radius:0; }
mark{ background-color:transparent;}

/* details */

html, bodt{ height:100%;}
