[state="home"] .lists .thumbnail{
    position: relative;
}
[state="home"] .lists .thumbnail:hover img{
  opacity: 0.3;
  background-color: #000
}
[state="home"] .lists .thumbnail .caption{
  position: absolute;
  top:0;
  left:0;
}
[state="home"] .lists .thumbnail .caption .title{
  font-weight: bold;
  white-space: nowrap;
  width : 100%;
  overflow: ellipsis;
}
