<!--main container-->
<!--search input-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Search for" ng-model="homeCtrl.search.$"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled list-inline lists text-center">
              <li ng-repeat="item in homeCtrl.items| orderBy: 'name' | filter:homeCtrl.search" ng-mouseenter="item.active=true" ng-mouseleave="item.active=false" ng-class="{active : item.active}">
                <div class="thumbnail">
                    <img ng-src="{{mainCtrl.skinUrl}}/{{item.key}}.png"/>
                    <div class="caption" ng-class="{hide : !item.active}">
                        <h4 class="text-center title">{{item.key}}</h3>
                        <div class="btn-group btn-group-sm">
                            <a href="#" class="btn btn-default" ng-click="homeCtrl.showDialog( item.id )">Skins</a>
                            <a href="/champion/{{item.id}}" class="btn btn-default">Detail</a>
                        </div>
                    </div>
                </div>
              </li>
            </ul>
        </div>
    </div>
</div>
